<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://authenticationrequest20201125115428.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9dafaf69-0717-4027-9b16-14d0b9901e64/resourcegroups/EventGrid/providers/Microsoft.Web/sites/AuthenticationRequest20201125115428</ResourceId>
    <UserName>$AuthenticationRequest20201125115428</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://authenticationrequest20201125115428.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>